@import "includes/base";

@mixin position-central{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

$blue:#EEF8F6;
$blue-text:#A8C1BC;

.bg-blue{
  background-color: $blue;
  margin-top: 100px;
  padding: 125px 150px 150px 150px !important;

}
img{
  margin-bottom: 30px;
  min-width: 200px;
}
ul{
  li {
    display: inline;
    padding-right: 30px;
    color: $blue-text;
    font-size: 0.9rem;
    @media screen and (max-width: 768px){
      display: list-item ;
      list-style-type: none;
      text-align: center;
      padding-right: 0px;
    }
    &:hover{
      color: #273650;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
p{
  color: white;
  font-size: 1.4rem;

}
.bg{
  &__text{
    text-align: center;
    @include position-central;
    span{
      text-transform: capitalize;
      text-align: center;
      font-weight: 700;
      color: #fff;
      font-size: 28px;

    }
  }
}

.row {
  max-height: 540px;
  overflow-x: scroll;
}
.footer-font{
  color:#A1A8B3 !important;
  font-size: 0.9rem;
  padding-top: 25px;
  padding-left: 25px;
}
.footer-link{
  color:$blue-text;
  padding-top: 25px;
}
