header
.container
        ul.pl-0
            li Beer
            li Coffee/tea
            li Coctail
            li Cocoa
            li Milk/Float/Shake
            li Shots
            li Panch/Party drink
            li Homemade Liqueur

