images
.container
    .row
        .col-xs-12.col-sm-6.col-md-4.bg__zinger.img-fluid
            p ZINGER
        .col-xs-12.col-sm-6.col-md-4.bg__bijou
            p BIJOU
        .col-xs-12.col-sm-6.col-md-4.bg__mojito
            P MOJITO
        .col-xs-12.col-sm-6.col-md-4.bg__negroni
            p NEGRONI
        .col-xs-12.col-sm-6.col-md-4.bg__rattlesnake
            p RATTLESNAKE
        .col-xs-12.col-sm-6.col-md-4.bg__eggnogg
            p EGGNOGG
